/* Resetting default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btnColor: #f2d342;
  --btnColorSecondary: #3260f5;
  --landBtnHover: #ebca37;
  --landBtnHoverSecondary: #606ef1;
  --bgColor: #ffffff;
  --cardBg: #fff;
  --btn: #a6dae7;
  --btnHover: #90d4e4;
  --text: rgb(211, 237, 220);
}

/* Setting styles for the body */
/* src/index.css or src/App.css */

body {
  /* width: 100%;
  height: 100%; */
  /* background-color: #ffecd6; */
  /* background: linear-gradient(to right, rgb(15, 23, 42), rgb(60, 146, 286), rgb(15, 23, 42)); */
  background-color: #0057c6;
  background-image: linear-gradient(210deg, #0057c6 0%, #c2a800 100%);

  color: #ffffff; /* Apply primary text color */
  font-family: "Roboto", sans-serif; /* Ensure consistent font family */
  margin: 0;
  padding: 0;
}

/* Styling the scrollbar */
/* For Webkit based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #fff; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the thumb */
  border-radius: 10px; /* Border radius of the thumb */
  border: 2px solid #fff; /* Border of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Color of the thumb on hover */
}

@media (max-width: 960px) {
  /* Adjust the maximum width as needed */
  .return-links {
    display: none; /* Hide the element on screens smaller than 960px */
  }
}
